@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;}

header {
    display: flex;
}

body {
    background: rgb(173, 216, 230);
}

#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

#subtitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#login-confirm {
    padding: 10px;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 75%;
}

#quote-body {
    display: flex;
    justify-content: center;
    background: aliceblue;
    border-radius: 10px;
    margin: 15px;
}

#table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    width: max-content;
    margin: 40px auto;
}

.cell {
    width: 62px;
    height: 62px;
    border: 3px solid grey;
    background-color: white;
    display: grid;
    place-items: center;
}