.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.changed-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.answer {
  outline: 2px solid red;
}

h2 {
    text-align: center;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 62px);
    gap: 8px;
    width: max-content;
    margin: 40px auto;
    font-size: 40px;
}

.rows {
    display: grid;
    grid-template-columns: repeat(5, 62px);
    gap: 8px;
}

.cell {
    width: 62px;
    height: 62px;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: white;
    display: grid;
    place-items: center;
}

.green {
    background: #6aaa64; 
}

.yellow { 
    background: #c9b458; 
}

.gray { 
    background: #787c7e; 
}