@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;}

header {
    display: flex;
    flex: 0 80px;
}

img {
    width: 125px;
}

.nav-body {
    display: flex; 
    flex-direction: row; 
}

.body {
    background: rgb(173, 216, 230);
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 calc(100vh - 128px);
}

.author {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

footer {
    display: flex;
    flex: 0 30px;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}